@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
*{
    margin:0;
    padding:0;
}
body {
background-color: #444;
color: #fff;
font-family:  'Rubik Bubbles', sans-serif;
}
.header{
    background-color: #200;
    padding: 20px;
}